@{
    ViewData["Title"] = "BindCost";
}
<div class="text-center">
    <h2 class="display-4">Привязка затраты</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Затрата:</div>
        <div class="col-8">
            <input type="text" name="cost" id="cost" value="@ViewBag.Cost.CostName" readonly="true"></input>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Покупка:</div>
        <div class="col-8">
            <select id="purchase" name="purchase" class="form-control" asp-items="@(new SelectList(@ViewBag.Purchases,"Id", "PurchaseName"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Сумма покупки:</div>
        <div class="col-8">
            <input type="text" name="purchasesum" id="purchasesum" readonly="true"></input>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Цена:</div>
        <div class="col-8">
            <input type="text" name="costprice" id="costprice" value="@ViewBag.Cost.Price" readonly="true"></input>
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" id="button" value="Создать" class="btn btnprimary" /></div>
    </div>
</form>
<script>
    $('#purchase').on('change', function () {
        check();
    });
    $('#button').on('click', function () {
        checked();
    });

    function check() {
        var purchase = $('#purchase').val();
        if (purchase) {
            $.ajax({
                method: "POST",
                url: "/Home/Bind",
                data: { purchase: purchase },
                success: function (result) {
                    $("#purchasesum").val(result);
                }
            });
        };
    }

    function checked() {
        var costprice = $('#costprice').val();
        var purchase = $('#purchase').val();
        var purchasesum = $('purchasesum').val();
        var cost = $('cost').val();
        if (costprice && cost && purchase && purchasesum) {
            $.ajax({
                method: "POST",
                url: "/Home/AddToFurniture",
                data: { costprice: costprice, purchase : purchase },               
            });
        };
    }
</script>
