@{
    ViewData["Title"] = "Reports";
}
<div class="text-center">
    <h1 class="display-4">Отчеты</h1>
</div>
<div class="text-center">
    @{
        <p>
            <a asp-action="CreateReportPurchaseToWordFile">Создать отчет по покупкам в Word</a>
        </p>
    }
</div>