@model FurnitureFactoryBusinessLogics.BindingModels.ReportBindingModel

@{ ViewData["Title"] = "Purchase Report"; }

<h1>Получить список</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PurchaseId" class="control-label">Покупки</label>
                <select asp-for="PurchaseId" id="furniture" class="form-control" mu asp-items="ViewBag.PurchaseId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Получить doc" asp-action="CreateReportPurchaseToWordFile" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input type="submit" value="Получить xls" asp-action="CreateReportPurchaseToExcelFile" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}